body {
  margin: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  font-size: 45px;
}

h2{
  margin:5px 0 0 0;
  float: left;
  text-align: center;
  color: white;
  font-weight: 100;
  font-family: 'Sanchez', serif;
  font-size: 30px;


}

.app {
  min-height: 100vh;
}